
- let title = "App Base"
- let description = "App Base Description"

include ./templades/head.pug

body
    include ./templades/nav.pug

    div.container-fluid.main-container
        //Code Here

    include ./templades/fotter.pug