nav.navbar.navbar-expand-lg.navbar-dark.justify-content-between
    a(href='/')
        h1 App Base Templade
    form.form-inline.my-2.my-lg-0(action="/search" method="GET")
        input.form-control.mr-sm-2(type="search" name="q" placeholder="Search" aria-label="Search" value=(query))